@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 48);
    font-family: rubik, cursive;
}

.heading {
    /* text-transform: uppercase; */
    font-size: 40px;
    margin: 30px;
    z-index: 1;
    text-align: center;
    color:rgb(245, 245, 245)
}

@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}